{% extends 'core/base.html' %}

{% block title %}Acerca_de{% endblock %}

{% block background %}{% load static%}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
 <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Ibeth Cedeño</h2>   
          <p>Nací en Manta-Manabí-Ecuador, actualmente vivo en Montecristi. Me gradué en la Unidad Educativa Particular Americano</p>
          <p>Estoy cursando el cuarto semestre de Ingeniería en Sistemas en la Universidad Tecnica de Manabí</p>
        </div>
      </div>  
    </div>

{% endblock %}